<div class="container ">
        <div class="jumbotron">
          <h1>Bookstroe - Gäbu i darf mi Buechlade nenne wieni wott</h1>
        </div>
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" routerLink="/home">Bookstore</a>
                  </div>
                  <ul class="nav navbar-nav">
                      <li rotuerLinkActive="active"><a routerLink="/catalog">Catalog</a></li>
                      <li rotuerLinkActive="active"><a routerLink="/customer-details">Customer</a></li>
                  </ul>
                </div>
              </nav>


        <nav class="nav justify-content-center|justify-content-end">
                
        </nav>
<div class="row">
            <router-outlet></router-outlet>
        </div>
      </div>